@import "../design-tokens/scss-variables";

.filter {
  background-color: white;
  z-index: 100;
  font-family: "Mulish", sans-serif;
  overflow: hidden;

  position: absolute;
  top: 0;
  right: 0;
  width: 40rem;
  height: 6rem;
  margin-top: 3.2rem;
  margin-right: 9.6rem;
  padding-left: 3.2rem;

  @include respond(tablet) {
    margin-top: 7rem;
    margin-right: 0;
    right: 50%;
    transform: translateX(50%);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include respond(small-screen) {
    margin-top: 8rem;
    width: 75%;
  }

  @include respond(extra-small) {
    height: 12rem;
  }

  transition-property: width, margin, padding, box-shadow, height;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0.2s, 0.2s, 0s, 0s;
  transition-timing-function: linear;

  &--extend {
    margin-right: 0;
    margin-top: 0;
    padding: 3.2rem 9.6rem;
    width: 100%;
    height: 50rem;
    transition-delay: 0s, 0s, 0s, 0.2s, 0.2s;
    -webkit-box-shadow: 0px 17px 18px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 17px 18px 0px rgba(0, 0, 0, 0.22);

    @include respond(small-screen) {
      padding: 3.2rem 10vw;
    }
  }

  &__form {
    display: flex;
    border-radius: 16px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
    margin-top: 2px;
    margin-right: 2px;

    @include respond(extra-small) {
      flex-direction: column;
    }
  }

  &__input {
    min-width: 13.8rem;
    flex: 0.33;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    outline: none;
    border-right: 1px solid var(--color-white);

    @include respond(small-screen) {
      border-right: none;
      min-width: 8rem;
    }

    span {
      font-weight: 800;
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
    }
    input {
      border: none;
      background-color: transparent;
      font-size: 1.4rem;
    }

    input:focus {
      outline: none;
    }

    @include respond(small-screen) {
      flex: 0.5;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__submit {
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 16px;
    padding: 1.5rem 2.5rem;
    margin: 3px;
    transition: all 0.2s linear;
    margin-left: auto;
    margin-right: auto;

    @include respond(small-screen) {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
    }

    p {
      font-size: 1.4rem;
      font-weight: 700;
      display: none;
      margin-left: 1rem;
      color: var(--color-white);
    }
    span {
      font-size: 1.7rem;
      color: var(--color-primary);

      @include respond(small-screen) {
        display: none;
      }
    }

    &--extend {
      background-color: var(--color-primary);
      p {
        display: inline-block;
      }
      span {
        color: var(--color-white);

        @include respond(small-screen) {
          display: inline-block;
        }
      }
    }
  }

  &__options {
    display: flex;

    // @include respond(tablet) {
    //   justify-content: center;
    // }
  }

  &__locations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0.33;
    transition: all 0.2s linear;

    @include respond(tablet) {
      flex: 1;
    }

    button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      outline: none;
      margin-bottom: 3.6rem;
      color: var(--color-black-light);
      font-size: 1.4rem;
    }

    &--hidden {
      opacity: 0;

      @include respond(tablet) {
        display: none;
      }
    }
  }

  &__guests {
    font-size: 1.4rem;
    flex: 0.33;
    transition: all 0.2s linear;

    @include respond(tablet) {
      flex: 1;
    }

    & > div {
      margin-bottom: 5.2rem;

      div {
        display: flex;
        margin-top: 3px;
        align-items: center;

        p {
          margin-right: 0.7rem;
          margin-left: 0.7rem;
        }
      }
    }

    &--head {
      font-weight: 700;
      line-height: 1.7rem;
    }

    &--ages {
      color: var(--color-gray-light);
    }

    &--minus {
      border: 1px solid var(--color-gray);
      outline: none;
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 0.4rem;
      color: var(--color-gray);
    }

    &--plus {
      border: 1px solid var(--color-gray);
      outline: none;
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 4px;
      color: var(--color-gray);
    }

    &--hidden {
      opacity: 0;

      @include respond(tablet) {
        display: none;
      }
    }
  }
}
