.app {
  padding: 2.6rem 9.5rem;
  position: relative;

  & > img {
    margin-top: 2rem;
  }
}

.main {
  margin-top: 12rem;

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;

    h1 {
      font-weight: 700;
      color: var(--color-black);
      font-size: 2.4rem;
    }

    p {
      font-weight: 500;
      font-size: 1.4rem;
      color: var(--color-black-light);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-gap: 2rem;
    justify-items: center;
  }

  &__message {
    font-size: 1.8rem;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
  }
}
